body{
    display: flex;
    justify-content: center;
    
    /* nedarbojas */
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    
    width: 200px;
    height: 450px;
    background-color: grey;
    border-radius: 20px;

}

#dis-with-margins{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 50%;
    border-radius: 18px;
    margin: 5px;
}

h5{
    margin: auto;
    color: gray;
    text-align: center;

}

#speaker{
width: 25px;
height: 5px;
margin: auto;
background-color: grey;

}

#main-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 160px;
    margin: auto;
    background-color: #00f;
}

#info-panel *{
    font-size: xx-small;
    margin: 4px;

}
#sim1{
    color: #000;
    background-color: white;
    padding: 0 7px 0 7px;
    border-radius: 5px;
}
#sim2{
    background-color: rgb(102, 102, 102);
    padding: 0 7px 0 7px;
    border-radius: 5px;
}
#antena1{
    color: #fff;
}

#upper-row{
    text-align: right;
}

#batery{
    color: white;
}

/* time 
*/

#MC{
    font-size: xx-large;
    color: #fff;
    text-align: center;

}

#nav-line{
    display: flex;
    justify-content: space-between;
align-items: baseline;
    color: white;
font-size: small;
}

#ce-nav{
    font-size: large;
}

button{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    border-color: gray;
    background-color:#000;
    color:gray;
    margin: 2px;
}

#controls{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

#btns{
    height: 35%;
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
   


}

#joystick{
    width: 50px;
    height: 50px;
background-color: black;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

#select-btn{
    border-color: gray;
    width: 35px;
    height: 35px;

}

#dials *{
    margin: 3px;
}

#microphone{
    width: 7px;
    height: 5px;
    background-color: black;
    
    margin: auto;
}
